h2 {
    color: blue;
}

p {
    font-size: 20px;

}

span{
    font-size: 5em;
    /* 여기서 5em은 이 span태그가 포함되있는 전체 텍스트에서의
    크기의 5배가 되길 원한다는 의미이다. */
    /* p에 대해 항상 상대적으로 크기를 조절할 수 잇으므로 매우 편하다. */
    /* rem 은 root크기와의 상대적 크기를 말한다. 즉
    html의 n배 이상 크게 해달라는 의미이다. */
}